{% extends 'main_layout.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4 fs-3"><span class="bx bx-search">&nbsp;</span>Analyze Instagram Page</h4>

    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mt-2 mb-0">Enter Instagram Page Name</h5>
            </div>
            <div class="card-body">
                <form id="pageSearchForm" method="POST" action="">
                
                <div class="row mb-3">
                    <div class="mt-2 col-md-6">
                        <input 
                            type="text"
                            class="form-control"
                            id="page_name"
                            name="page_name"
                            required="required"
                            placeholder='Instagram page name e.g. "goodvibesfest"'
                        />
                    </div>
                    <div class="mt-2 col-md-1">
                        <button type="button" class="btn btn-primary me-2" id="analyzeBtn">Analyze</button>
                        <div class="spinner-border text-primary align-items-start" role="status" id="loadingIcon" style="display:none">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="connectionAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-info" role="alert">
                            Connecting to Instagram...
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="unexpErrorAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            An unexpected error has occured.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="errorAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <span id="errorMessage"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="successAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-success" role="alert">
                            Page found! Scraping for comments...
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="commentsScrapedAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-success" role="alert">
                            Comments scraped! Analyzing comments and adding page sentiment to database...
                        </div>
                    </div>
                </div>
                
                </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    $(document).ready(function(){

        $('#analyzeBtn').click(function(){
            $.ajax({
                url: "{{ url_for('check_page_name') }}",
                type: "POST",
                data: {
                    page_name: $('#page_name').val()
                },
                beforeSend: function() {
                    $('#analyzeBtn').hide();
                    $('#loadingIcon').show();
                    $('#errorAlert').hide();
                    $('#unexpErrorAlert').hide();
                    $('#connectionAlert').show();
                },
                error: function() {
                    $('#connectionAlert').hide();
                    $('#errorAlert').hide();
                    $('#unexpErrorAlert').show();
                    $('#loadingIcon').hide();
                    $('#analyzeBtn').show();
                },
                success: function(response) {
                    if (response.error) {
                        $('#connectionAlert').hide();
                        $('#unexpErrorAlert').hide();
                        $('#errorMessage').text(response.error);
                        $('#errorAlert').show();
                        $('#loadingIcon').hide();
                        $('#analyzeBtn').show();
                    }
                    else {
                        $('#connectionAlert').hide();
                        $('#errorAlert').hide();
                        $('#unexpErrorAlert').hide();
                        $('#successAlert').show();
                        $('#analyzeBtn').hide();
                        $('#loadingIcon').show();

                        $.ajax({
                            url: "{{ url_for('scrape_classify') }}",
                            type: "POST",
                            data: {
                                empty: true
                            },
                            beforeSend: function() {
                                $('#analyzeBtn').hide();
                                $('#loadingIcon').show();
                                $('#errorAlert').hide();
                                $('#unexpErrorAlert').hide();
                            },
                            error: function() {
                                $('#successAlert').hide();
                                $('#unexpErrorAlert').hide();
                                $('#errorAlert').hide();
                                $('#commentsScrapedAlert').show();
                                $('#analyzeBtn').hide();
                                $('#loadingIcon').show();

                                $.ajax({
                                    url: "{{ url_for('classify_store') }}",
                                    type: "POST",
                                    data: {
                                        empty: true
                                    },
                                    beforeSend: function() {
                                        $('#analyzeBtn').hide();
                                        $('#loadingIcon').show();
                                        $('#successAlert').hide();
                                        $('#errorAlert').hide();
                                        $('#unexpErrorAlert').hide();
                                    },
                                    complete: function() {
                                        $('#loadingIcon').hide();
                                        $('#analyzeBtn').show();
                                    },
                                    error: function() {
                                        $('#commentsScrapedAlert').hide();
                                        $('#successAlert').hide();
                                        $('#errorAlert').hide();
                                        $('#unexpErrorAlert').show();
                                    },
                                    success: function() {
                                        window.location.href = "{{ url_for('history') }}"
                                    }
                                })
                            },
                            success: function() {
                                if (response.error) {
                                    $('#successAlert').hide();
                                    $('#unexpErrorAlert').hide();
                                    $('#errorMessage').text(response.error);
                                    $('#errorAlert').show();
                                    $('#loadingIcon').hide();
                                    $('#analyzeBtn').show();
                                }
                                else {
                                    $('#successAlert').hide();
                                    $('#unexpErrorAlert').hide();
                                    $('#errorAlert').hide();
                                    $('#commentsScrapedAlert').show();
                                    $('#analyzeBtn').hide();
                                    $('#loadingIcon').show();

                                    $.ajax({
                                        url: "{{ url_for('classify_store') }}",
                                        type: "POST",
                                        data: {
                                            empty: true
                                        },
                                        beforeSend: function() {
                                            $('#analyzeBtn').hide();
                                            $('#loadingIcon').show();
                                            $('#successAlert').hide();
                                            $('#errorAlert').hide();
                                            $('#unexpErrorAlert').hide();
                                        },
                                        complete: function() {
                                            $('#loadingIcon').hide();
                                            $('#analyzeBtn').show();
                                        },
                                        error: function() {
                                            $('#commentsScrapedAlert').hide();
                                            $('#successAlert').hide();
                                            $('#errorAlert').hide();
                                            $('#unexpErrorAlert').show();
                                        },
                                        success: function() {
                                            window.location.href = "{{ url_for('history') }}"
                                        }
                                    })
                                }
                            }
                        })
                    }
                }
            })
        })

    })

</script>

{% endblock %}