{% extends 'main_layout.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 fs-3"><span class="bx bx-cube-alt">&nbsp;</span>Predict Post Sentiment</h4>
    <h5 class="mb-4 fs-4">Predict a Mixed Language Social Media Post's Sentiment</h5>

    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mt-2 mb-0">Enter Social Media Post to Predict</h5>
            </div>
            <div class="card-body">
                <form id="postPredictForm" method="POST" action="">
                
                <div class="row mb-3">
                    <div class="mt-2 col-md-6">
                        <textarea 
                            class="form-control" 
                            id="post_text" 
                            name="post_text"
                            placeholder='Any mixed-language sentence(s) &#10;e.g. "concert semalam was actually my first concert. memang one of the best moments in my life"'
                            rows="3"
                        ></textarea>
                    </div>
                    <div class="mt-2 col-md-1">
                        <button type="button" class="btn btn-primary me-2" id="predictBtn">Predict</button>
                        <div class="spinner-border text-primary align-items-start" role="status" id="loadingIcon" style="display:none">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="unexpErrorAlert" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            An unexpected error has occured.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="positiveMsg" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-success" role="alert">
                            Positive
                        </div>
                    </div>
                </div>

                <div class="row mt-1" id="negativeMsg" style="display:none">
                    <div class="col-6">
                        <div class="alert alert-danger" role="alert">
                            Negative
                        </div>
                    </div>
                </div>
                
                </form>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

    $(document).ready(function(){

        $('#predictBtn').click(function(){
            $.ajax({
                url: "{{ url_for('sams_predict') }}",
                type: "POST",
                data: {
                    post_text: $('#post_text').val()
                },
                beforeSend: function() {
                    $('#predictBtn').hide();
                    $('#loadingIcon').show();
                    $('#unexpErrorAlert').hide();
                },
                complete: function() {
                    $('#loadingIcon').hide();
                    $('#predictBtn').show();
                },
                error: function() {
                    $('#positiveMsg').hide();
                    $('#negativeMsg').hide();
                    $('#unexpErrorAlert').show();
                },
                success: function(response) {
                    if (response.sentiment) {
                        $('#unexpErrorAlert').hide();

                        if (response.sentiment.toString() == "positive"){
                            $('#negativeMsg').hide();
                            $('#positiveMsg').show();
                        }
                        else if (response.sentiment.toString() == "negative"){
                            $('#positiveMsg').hide();
                            $('#negativeMsg').show();
                        }
                    }
                }
            })
        })

    })

</script>

{% endblock %}